---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout
  title="About | Chris Sheppard"
  description="About Chris Sheppard"
>
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="About"
        tagline="Thanks for stopping by. Read below to learn more about myself and my background."
      >
        <img
          width="1553"
          height="873"
          src="/assets/suit2.webp"
          alt="A portrait of me"
        />
      </Hero>

      <section>
        <h2 class="section-title">Background</h2>
        <div class="content">
          <p>
            As a highly motivated and skilled software developer with a passion
            for creating innovative, user-friendly apps and web solutions, I am
            excited to bring my experience and expertise to a dynamic,
            forward-thinking company. I have a proven track record of developing
            and delivering high-quality, cutting-edge software products that
            meet the needs of customers and users. I am a future graduate of the
            University of Texas at Dallas with a Bachelor of Science in Computer
            Science and Engineering, where I honed my skills in programming
            languages such as C/C++, Java, and Python. With strong communication, problem-solving, and teamwork
            skills, I am confident in my ability to make a valuable contribution
            to a software development team. With my experience in Machine Learning 
            and Artificial Intelligence and my knowledge in relivent libraries 
            such as Pytorch, TensorFlow, Keras, SciKitLearn, Numpy, Pandas, I can be an asset
            to your company.
          </p>
          <br />
          <p>
            I am highly motivated to keep learning and growing as a developer,
            and I am looking for a position where I can use my skills to develop
            cutting-edge machine learning applications and make a real impact. I
            am excited about the opportunity to work with a talented team of
            developers and contribute to the success of a company that values
            innovation, creativity and teamwork.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Education</h2>
        <div class="content">
          <p>The University of Texas at Dallas</p>
          <p>Bachelor of Science in Computer Science and Engineering</p>
          <p>GPA: 3.61</p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Skills</h2>
        <div class="content">
          <p>LANGUAGES:   Java, C/C++, Python, HTML, JavaScript, CSS, SQL (Certified)</p>
          <p>LIBRARIES:   NumPy, Pandas, TensorFlow, PyTorch, Keras, Scikit, Matplotlib, Hugging Face, MUI</p>
		      <p>FRAMEWORKS & TECHNOLOGIES:   AWS, Docker, Jupyter, React, REST API, GitHub, Unix Shell, Flask</p>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
